.heading{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

}
.heading h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 26px;
    color: #100207;
}
.heading .underline{
    width: 50px;
    height: 5px;
    background-color: #100207;
    margin-top: -10px;
}
.heading p{
    font-size: 22px;
    font-weight: 600;
    color: #100207;
}