@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  width: 100%;
  height: auto;
  margin: 0 auto;

  padding-top: 44px;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 300px;
  background-color: rgb(248, 238, 219);
}